.width-half {
    width: 50%
}

.center-cropped {
  object-position: center; /* Center the image within the element */
  object-fit: cover;
  height: 200px;
  width: 200px;
}


/*! gallery div style */
.image-gallery {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(auto-fill,minmax(250px, 1fr));
  justify-content: center;
  padding: 4px;
  }


  .box {
    flex-basis: 25%;
    width: 100%;
    padding: 10px;
    margin: 2px;
  }

  .img-gallery {
    width: 200%;
    height: 250px;
    object-fit: cover;
    transform: scale(1);
    transition: all 0.3s ease-in-out;
    /*&:hover {
      transform: scale(1.05);
    }*/
}


.modify-headshot {
  width: 240px;
  height: auto;
  max-height: 380px;
  border-radius: $teaser-border-radius;
  
  @include breakpoint($small) {
    display: block;
    max-height: 300px;
    width: auto;
  }


  @include breakpoint($medium) {
    display: block;
    max-height: 380px;
    width: auto;
  }
}

.site-logo {
  width: 150px;

  .div {
    height: 150px;
  }

  svg path {
    fill: white;
  }
}

.site-title {
  text-color: $masthead-title-color;
}

.site-title-logo{

  svg {
    height: 75px;
    width: 75px;
    margin: 0px 5px;
  }

  svg path {
    fill: $masthead-logo-color;
  }
}


.site-logo-header {
  width: 50px;
  height: auto;
  padding-right: 0px;

  .div {
    height: 40px;
  }

  svg path {
    fill: $primary-color;
  }
}

.page__content {
  
  .main-text{
    margin-bottom: 10px;
    min-height: 400px;

    p {
      font-size: 2.5ex;
    }
  }
}